@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/site_information.css" asp-append-version="true"/>
<div class="container-section">
    <h2 class="info-sections">О нас</h2>
    <p>
        
    </p>
</div>
